<div class='wym_skin_refinery' id='items_picker'>
  <span class='clearfix label_inline_with_link'>
    <%= link_to t('.add_new_item'), refinery.insert_admin_images_url({
                  :dialog => true,
                  :width => 950,
                  :height => 510,
                  :callback => "portfolio.append_item",
                  :multiple => true
        }),
        :id => "add_item_link" %>
  </span>

  <%= render :partial => "items", :locals => {:f => f} %>
</div>
